
.text{
    text-align: left;
    margin: 4px 0 0 15px;
}
.text > h1{
   
    width: 105px;
height: 22px;
font: normal normal normal 18px/22px Roboto;
letter-spacing: 0px;
color: #2A62B7;
opacity: 1
}
.text > p{
    margin: 0;
    width: 948px;
height: 17px;
font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #707070;
opacity: 1;
}
.Form{
    margin: 10px 15px 0 15px;
    background-color: white;
    height: 35rem;
    border: 1px solid #EEDFFE;
}
.text-email{
    display: flex;
}
.phone-radio{
    display: flex;
}
.radio-btn{
    display: flex;
}
.textfield{
    width: 50%;
    text-align: left;
    margin-left: 20px;
    margin-top: 2rem;
}
.phone{
    margin-left: 20px;
    width: 50%;
    text-align: left;
    margin-top: 2rem;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #404B69;
    opacity: 1;
}
.name{
  width: 50%;
    text-align: left;
    margin-top: 2rem;
    margin-left: 20px;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #404B69;
    opacity: 1; 
}
.email{
    text-align: left;
    margin-top: 2rem;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #404B69;
    opacity: 1;
}
.comment{
   
        text-align: left;
        margin-top: 2rem;
        font: normal normal normal 14px/17px Roboto;
        letter-spacing: 0px;
        color: #404B69;
        opacity: 1;
    
}

.radio{
    text-align: left;
    margin-top: 2rem;
    margin-left: 20px;
}


#Email{
    width: 35em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.75px solid #B5B5B5;
border-radius: 4px;
opacity: 1;
    height: 1.5rem;
    margin-top: 0.4rem;
}
#Email:focus{
    box-shadow: 0px 1px 4px #AA94DE;
    outline: 0.75px solid #AA94DE;
border-radius: 5px;
opacity: 1;
}
#Phone{
      padding-left: 33px;
    margin-left: 0px;
    padding-right: 8px;
    width: 32em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.75px solid #B5B5B5;
    border-radius: 4px;
    opacity: 1;
    height: 1.5rem;
    margin-top: 0.4rem;
}
#Phone:focus{
    box-shadow: 0px 1px 4px #AA94DE;
    outline: 0.75px solid #AA94DE;
    border-radius: 5px;
    opacity: 1;
}
#Name{
    width: 35em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.75px solid #B5B5B5;
    border-radius: 4px;
    opacity: 1;
    height: 1.5rem;
    margin-top: 0.4rem;
}
#Name:focus{
    box-shadow: 0px 1px 4px #AA94DE;
    outline: 0.75px solid #AA94DE;
border-radius: 5px;
opacity: 1;
}

.excellent > label{
    font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #404B69;
opacity: 1;
margin-top: 3.1px;
    float: right;
}
.good > label{
    font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #404B69;
opacity: 1;
margin-top: 3.1px;
    float: right;
}
.fair > label{
    font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #404B69;
opacity: 1;
margin-top: 3.1px;
    float: right;
}
.bad > label{
    font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #404B69;
opacity: 1;
margin-top: 3.1px;
    float: right;
}
#Excellent:hover{
    cursor: pointer;
}
#Good:hover{
    cursor: pointer;
}
#Fair:hover{
    cursor: pointer;
}
#Bad:hover{
    cursor: pointer;
}

.excellent{
    margin: 5px;
}
.excellent > input{
    margin: 5px;
}

.good{
    margin: 5px;
}
.good > input{
    margin: 5px;
}

.fair{
    margin: 5px;
}
.fair > input{
    margin: 5px;
}

.bad{
    margin: 5px;
}
.bad > input{
    margin: 5px;
}


.radio-title{
    text-align: left;
font: normal normal normal 14px/17px Roboto;
letter-spacing: 0px;
color: #404B69;
opacity: 1;

}
.flag{
    width: 32px;
height: 21px;
position: absolute;
    top: 281px;
    left: 37px;
}
.submit{
    float: right;
    margin-right: 4rem;
    margin-bottom: 40px;

}
.submit > button{
    width: 90px;
height: 31px;
background: #48A44C 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
   color: white;
    border: none;
    text-align: center;
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    
    opacity: 1;
    border-radius: 4px;
  
}
.submit > button:hover{
    cursor: pointer;
}



/* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1023px){
             .header{
               width: 200%;
            }
            .Form{
                width: 195%;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        
        
          
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
            .header{
                width: 200%;
            }
            .email{
                margin-right: 6em;
                margin-left: 1em;
            }
            .comment{
                margin-right: 6em;
                margin-left: 1em;
            }
            #Email{
                width: 24rem;
            }
            
            #Name{
                width: 24rem;
            }
            
            #Phone{
                width: 22rem;
            }
            .Form{
                width: 194%;
            }
            .submit{
                margin-right: 6rem;
            }
        }
